.animals {
  position: sticky;
  top: 0;
  background-color: var(--color-gray-900);
  color: white;
  padding: var(--_padding-size-large);
  display: grid;
  gap: var(--_padding-size-large);
}

.animals__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--_padding-size-large);
  padding: var(--_padding-size-medium) 0;
}

.animals__heading {
  font-size: large;
}

.animals__description {
  background-color: darkslateblue;
  padding: var(--_padding-size-large);
}

.animals__description-summary {
  cursor: pointer;
}

.animals__description p:not(:first-child) {
  margin-block-start: 1em;
}

.animals__items {
  --_animal-list-columns: 4;
  display: grid;
  grid-template-columns: repeat(var(--_animal-list-columns), 1fr);
  gap: var(--_padding-size-large);
  min-height: 150px;
}

.animals__items--empty {
  backdrop-filter: brightness(0.7);
}

@media screen and (max-width: 1079.9px) {
  .animals__items {
    --_animal-list-columns: 2;
  }
}

@media screen and (max-width: 767.9px) {
  .animals {
    position: relative;
  }

  .animals__items {
    --_animal-list-columns: 1;
  }
}
