.button {
  padding: var(--_padding-size-medium);
}

.button:focus {
  text-decoration: underline;
  border-color: transparent;
  outline: none;
}

.button:is(.button--primary, .button--secondary):focus {
  outline: dotted 2px;
  outline-offset: -2px;
  text-decoration: none;
}

.button--primary {
  background-color: dodgerblue;
  color: white;
}

.button--secondary {
  border: solid 1.2px;
}

.button--danger {
  color: var(--color-danger);
  text-decoration: underline;
}

.error-modal {
  display: grid;
  gap: var(--_padding-size-medium);
  justify-items: center;
}

.error-modal__button {
  width: 50%;
}