@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --_padding-size-medium: 0.5em;
  --_padding-size-large: 1em;

  --color-danger: indianred;

  --color-gray-100: hsl(0deg 0% 90%);
  --color-gray-200: hsl(0deg 0% 80%);
  --color-gray-300: hsl(0deg 0% 70%);
  --color-gray-400: hsl(0deg 0% 60%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-600: hsl(0deg 0% 40%);
  --color-gray-700: hsl(0deg 0% 30%);
  --color-gray-800: hsl(0deg 0% 20%);
  --color-gray-900: hsl(0deg 0% 10%);
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-gray-900);
  color: white;
  min-height: 100%;
}

footer {
  font-size: small;
  padding: var(--_padding-size-medium);
  margin-top: var(--_padding-size-large);
}

.button {
  padding: var(--_padding-size-medium);
}

.button:focus {
  text-decoration: underline;
  border-color: transparent;
  outline: none;
}

.button:is(.button--primary, .button--secondary):focus {
  outline: dotted 2px;
  outline-offset: -2px;
  text-decoration: none;
}

.button--primary {
  background-color: dodgerblue;
  color: white;
}

.button--secondary {
  border: solid 1.2px;
}

.button--danger {
  color: var(--color-danger);
  text-decoration: underline;
}
