.button {
  padding: var(--_padding-size-medium);
}

.button:focus {
  text-decoration: underline;
  border-color: transparent;
  outline: none;
}

.button:is(.button--primary, .button--secondary, .button--danger):focus {
  outline: dotted 2px;
  outline-offset: -2px;
  text-decoration: none;
}

.button--primary {
  background-color: dodgerblue;
  color: white;
}

.button--secondary {
  border: solid 1.2px;
}

.button--danger {
  color: var(--color-danger);
}

.alert-modal {
  display: grid;
  gap: var(--_padding-size-medium);
  justify-items: center;
}

.alert-modal__button {
  width: 50%;
}

.alert-modal__header {
  display: flex;
  font-size: x-large;
  gap: var(--_padding-size-medium);
  justify-content: space-between;
  width: 100%;
}

.alert-modal__heading {
  text-align: center;
}

.alert-modal__list {
  border-top: solid 3px;
}