.header {
  background-color: var(--color-gray-900);
  display: grid;
  gap: var(--_padding-size-large);
  padding: var(--_padding-size-large);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__login {
  display: flex;
  justify-content: end;
}

.header__description {
  background-color: darkslateblue;
  padding: var(--_padding-size-large);
}

.header__description-summary {
  cursor: pointer;
}

.header__description p:not(:first-child) {
  margin-block-start: 1em;
}

.header__description-github-link {
  text-decoration: underline;
}