.add-animal-form-container {
  display: grid;
  justify-content: end;
  position: fixed;
  bottom: 0;
  right: 0;
  top: calc(100vh - 40px);
  background-color: var(--color-gray-900);
  color: white;
}

.add-animal-form-container--visible {
  top: auto;
  box-shadow: -8px 0 12px rgba(0, 0, 0, 0.45);
}

.add-animal-form-container__toggle-button {
  background-color: deeppink;
}

.add-animal-form {
  display: grid;
  padding: var(--_padding-size-medium);
  gap: var(--_padding-size-medium);
}

.add-animal-form__input  {
  background-color: var(--color-gray-800);
}

.add-animal-form__input--description {
  resize: none;
}

.add-animal-form__error {
  color: var(--color-danger);
}