.add-animal-form-container {
  display: grid;
  justify-content: end;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--color-gray-900);
  color: white;
}

.add-animal-form-container--visible {
  top: auto;
  box-shadow: -8px 0 12px rgba(0, 0, 0, 0.45);
}

.add-animal-form-container__toggle-button {
  background-color: deeppink;
  font-size: large;
}

.add-animal-form {
  display: none;
  padding: var(--_padding-size-medium);
  gap: var(--_padding-size-medium);
}

.add-animal-form-container--visible .add-animal-form {
  display: grid;
}

.add-animal-form__input  {
  background-color: var(--color-gray-800);
}

.add-animal-form__input--description {
  resize: none;
}

.add-animal-form__error {
  color: var(--color-danger);
}

.success-modal__animal-details {
  border-top: solid 2px;
  display: flex;
  gap: var(--_padding-size-large);
  justify-content: center;
  overflow: hidden;
}

.success-modal__animal-details-name,
.success-modal__animal-details-type {
  white-space: nowrap;
}

.success-modal__animal-details-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
