.animal-details {
  padding: var(--_padding-size-large);
  background-color: darkslateblue;
  color: white;
  display: grid;
  gap: var(--_padding-size-large);
  overflow: auto;
  grid-template-rows: auto 1fr;
  margin: 0 var(--_padding-size-large);
}

.animal-details__heading {
  font-size: x-large;
  text-transform: capitalize;
  padding-bottom: var(--_padding-size-medium);
  border-bottom: solid 1.2px;
}

.animal-details__heading--empty:before {
  content: 'Unnamed Animal';
}

.animal-details__figure {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--_padding-size-large);
}

.animal-details__caption {
  margin-bottom: var(--_padding-size-medium);
}

.animal-details__caption--empty {
  backdrop-filter: brightness(0.7);
}

.animal-details__image {
  height: 150px;
  background-color: white;
  padding: var(--_padding-size-medium);
}

.animal-details__image-placeholder {
  aspect-ratio: 16 / 9;
  height: 150px;
  backdrop-filter: brightness(0.7);
}